*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: white;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.5;
    background-image: url(images/Background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 5rem;
    margin-right: 5rem; 
}5
a{
    color: whitesmoke;
    text-decoration: none;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
}
.logo{
    font-weight: bold;
    font-size: 1.5rem;
    color:  whitesmoke;
}
.nav-link{
    list-style: none;
    display: flex;
    gap: 150px;
}
.Connect-button{
    background-color: transparent;
    border: 1px solid skyblue;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}  
.Top{
    display: flex; 
    justify-content: space-between;  
    padding: 100px 10%;
    background: linear-gradient(to bottom darkblue)
}
.Top-texts{
    max-width: 50%;
}
.Top h1{
    font-size: 3rem;
}
.Top p{
    font-size: small;
}
.highlight{
    color: rgb(5, 104, 104);
}
.Connect-Wallet{
    margin-top: 20px;
    background: linear-gradient(to right darkblue);
    color: white;
    padding: 20px 40px;
    border-radius: 10px;
    background-color: rgb(17, 17, 200);
}
.Middle{
    text-align: center;
    align-items: center;
    justify-items: center;
}
.Middle-texts{
    max-width: 60%;
}
.Middle h1{
    font-size: 2rem;
}
.Middle p{
    font-size: smaller;
}
.Trade-button{
    background-color: transparent;
    border: 1px solid deepskyblue;
    color: white;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}
.Boxes{
    display: flex;
    justify-content: space-evenly;
    padding: 40px 10%;
    flex-wrap: wrap;
}
.box{
    text-align: center;
    border-radius: 16px;
    padding: 30px 20px;
    background-color: darkblue;
    width: 200px;
    box-shadow: 0 0 10px black;
    transition: transform 0.3s ease;
    align-content: center; 
}
.End{
    padding: 60px 10%;
}
.end-boxes{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 30px;
}
.end-box{
    padding: 30px;
    width: 200px;
    background: rgba(0, 123, 255, 0.05);/*futuristic transparent glow*/
    border: 5px solid rgb(60, 161, 195);
    box-shadow: 0 0 12px rgba(0, 123, 255, 0.2);
    border-radius: 16px;
    width: 220px;
    justify-content: space-evenly;
    height: 120px;
    text-align: center;
    color: white;
    font-family: 'poppins',sans-serif;
    transition: transform 0.3s ease;
}
.container{
    max-width: 1200px;
    padding: 50px 20px;
}
.tabs{
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
    border-bottom: 1px solid whitesmoke;
}
.tab{
    padding: 10px 20px;
    cursor: pointer;
    border-bottom: 2px solod transparent;
    transition: all 0.3s ease;
    color: #aaa;
}
.tab-active{
    color: #00ffcc; 
    border-color: #00ffcc;
}
.End p{
    font-size: small;
}
.explore{
    background-color: transparent;
    border: 1px solid skyblue;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}
.end-box span{
    font-size: 15px;
    font-weight: bold;
    color: #49acb5;
}
.end-box:hover{
    transform: translateY(-5px);
    box-shadow: 0 0 20px rgba(29, 87, 175, 0.5);
}
.Banner{
    padding: 60px 10%;
    text-align: center;
    width: 100%;
    background: black;/*futuristic transparent glow*/
    border: 5px solid rgba(0, 123, 255, 0.3);
    box-shadow: 0 0 12px rgba(0, 123, 255, 0.2);
    border-radius: 16px;
    width: 100%;
    justify-content: space-evenly;
    text-align: center;
    font-family: 'poppins',sans-serif;
    transition: transform 0.3s ease;
}
.Banner h3{
    font-size: x-large;
}
footer{
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
}
.footer-links, .social-icons{
    display: flex;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
}
.Banner-text a{
    background-color: transparent;
    border: 1px solid skyblue;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}